.page.pop-up{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.253);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.ant-form-horizontal{
  width: 300px;
  justify-content: center;

}


