@import 'typeface-montserrat';

body, div, ul, li, span {
  padding: 0;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-color: #1e2535;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
}

.modal-button {
  position: relative;
  width: 188px;
  height: 42px;
  left: 45px;
  top: 96px;
  background-color: #83f6b1;
  border-radius: 21px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: #66bb6a;
  }

  &__text {
    color: #282a3b;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }
  
}
